body {min-width: 1200px;
	min-height: 1170px;
	font-size:14px ;
	line-height:24px;
	color:#000000;
	font-weight: bold;
	font-family: arial;
	}

h1 {width:auto;
	background:yellow;
	font-size:30px ;
	line-height:42px;
	color:#000000;
	font-weight:bold;
	font-family: arial;
}

h2 {
	font-size:24px ;
	line-height:30px;
	color:#000000;
	font-weight:bold;
	font-family: arial;
}
h3 {
	font-size:14px ;
	line-height:18px;
	color:#000000;
	font-weight:bold;
	font-family: arial;
}

.main-header {
	background: green;
  margin-bottom: 60px;
}

.clearfix::after {
	content: "";

	display: table;
	clear: both;
}

.container {
	background: red; /* подсветка разметки */
	width:940px;
	margin:0 auto;
	padding:0 10px;
}
.main-navigation {
	background: yellow; /* подсветка разметки */
	float:left;
	width:780px;
	min-height: 70px;
}
.user-block {
	background: yellow; /* подсветка разметки */
	float:right;
	width:140px;
	min-height: 70px;
}

.page-container{
	min-height: 900px;
	width:940px;
	padding:0 10px;
	background: red;

}
.breadcrumbs {
	margin-right:80px; 
	min-width:300px; 
	min-height:16px;
	background:yellow;
}
							/* сетка catalog-item*/
.description-block {
	background:green;
	width:380px;
	float:left;
	margin-top:25px;
	margin-left:80px;

}
.item-description{
	margin-bottom: 40px; 
}
div.buy {
	margin-bottom: 70px;
}

.rombed-list {
	margin-top:40px;
}
.btn-buy-item .in-catalog {
	margin-bottom:70px;
}

.item-pictures{
	float:left;
	min-width:460px;
	min-height:670px;
	margin-bottom:30px;
	background: purple;
}
.main-picture{
	margin-bottom:16px;
}
.small-pictures a{
	float:left; 
	margin-right:20px;	
}
.small-pictures a:last-child { 
	margin-right:0px;	
}
								/* сетка catalog-item*/
								/* сетка catalog*/
.show-items {
	float:left;
	margin-top: 40px;
	width:170px;
}
.item-groups {
	background:purple;
	width:170px;
	margin-bottom:50px;
}
.items-list {
	font-size:0px;
	background: pink;
	width:700px;
	margin-top: 60px;
	min-height:690px;
	float:right; 
}
article	{
	background: blue;
	font-size:14px;
	display:inline-block;
	margin-right:20px;
	margin-bottom:20px;
	vertical-align: top;
	width:220px;
	height:290px;
} 
article:nth-child(3n) {
	margin:0px;
}
.pages {
	margin-top:40px;
	font-size:14px;
}
label {
	display:block;
}
								/* сетка catalog*/

.main-footer {
	background: green;
	margin-top: 65px;
	padding-top: 60px;
	padding-bottom: 40px;
	min-height:90px;
}
.footer-contacts {
	background:yellow;
	float: left;
	width: 320px;
	margin-right: 60px;
	min-height: 90px;
}

.footer-social {
	background:yellow;
	float: left;
	width: 180px;
	min-height: 90px;
}

.footer-copyright {
	background:yellow;
	float: right;
	width: 180px;
	min-height: 90px;
}
